h1,h3{
	color:blue;
}
p{
	display: inline;
}

#login{
	display: none;
}

#register{
	display: block;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

td{
	padding-left: 15px;
	min-width: 150px;
}

tr{
	height: 35px;
}